
.row-home{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: #ffffff;
    padding: 50px 25px;
    max-height: 30%;

}
.arrow-home{
    display: flex;
    font-size: 32px;
    justify-items: center;
    text-align: center;
    padding-top: 12%;

}
.arrow-home:hover{
    color:royalblue;
}
.img-home{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}
.home-text{
    padding: 0 20px;
}
.home-text h2{
    text-align: center;
    padding-bottom:15px;
}
.home-text p{

    width: 100%;
    height: auto;
}
img {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
}
@media (max-width: 960px) {
    .row-home{
        display: flex;
        max-width: 90%;
        height: auto;
        flex-direction: column;
    }
    .arrow-home{
        display: flex;
        padding-top: 10%;
        font-size: 32px;

    }
    .img-home{
        max-width: 100%;
        flex-direction: column;
    }
}
@media (max-width: 1155px) {
    .row-home{
        display: flex;
        max-width: 90%;
        min-height: 1000px;
        height: auto;
        flex-direction: column;
    }
    .arrow-home{
        display: flex;
        padding-top: 10%;
        font-size: 32px;

    }
    .img-home{
        max-width: 100%;
        flex-direction: column;
    }

}
@media (max-width: 1200px) {
    .nav-logo > p{
        font-size: 15px;
        font-weight: bold;
        padding: calc((60px - 15px) / 2);
    }
    .nav-menu{
        font-size: 15px;

    }

}
